<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style></style>

<main class="main">
 <!-- src/app/app.component.html -->
  <!-- Start Nav Section -->
  <div id="nav-bar" class="row">
    <div class="container-fluid"> 
        <nav  class="navbar navbar-icon-top navbar-expand-lg fixed-top navbar-dark shadow-lg">
          <div class="container"> 
                <a (click)="showHome()" class="navbar-brand font-weight-bold cursor-pointer">Veggy</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <div *ngIf="section === 'home'" class="form-inline my-2 my-lg-0">
                    <input 
                    class="form-control mr-sm-2" 
                      type="text" 
                      placeholder="Search" 
                      [(ngModel)]="searchItem" 
                      (input)="filterItems()"
                    />
                  </div>
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <i class="fa fa-user"></i>
                        Account
                      </a>
                    </li>
                    <li class="nav-item">
                        <a (click)="showCart()"  class="nav-link cursor-pointer">
                            <i class="fa fa-shopping-cart"></i>
                            Cart <span class="badge badge-dark">{{ getCartQty() }}</span>
                        </a>
                    </li>
                  </ul>
                </div>  
          </div>
        </nav>
    </div>
  </div>
  <!-- End Nav Section -->
  <!-- Start Home Section -->
  <div *ngIf="section === 'home'" class="container">
    <div class="row justify-content-center item-list">
      <app-item-card *ngFor="let item of filteredItems" [item]="item" (addToCart)="addToCart($event)"></app-item-card>
    </div>
  </div>
  <!-- End Home Section -->

   <!-- Start Cart Section -->
   <div *ngIf="section === 'cart'" class="container">
      <div class="row">
          <div class="col-sm-8 mb-2">
              <div class="card">
                  <h5 class="card-header bg-white">CART ({{ getCartQty() }})</h5>
                  <div class="card-body">
                      <div class="d-flex flex-row border-bottom p-2 mb-2"  *ngFor="let cartitem of getCartItems()">
                          <div class="d-flex flex-column flex-sm-row mr-auto">
                              <img [src]="cartitem.image" alt="Vegetable"  width="100" height="100"/>
                              <div class="card-text">
                                  <h5>{{ cartitem.title }}</h5>
                                  <p>{{ cartitem.description }}</p>
                                  <button type="button" class="btn btn-danger btn-sm" (click)="removeFromCart(cartitem.id)">
                                      Remove
                                  </button>
                              </div>
                          </div>
                          <div>
                              <p><strong>{{ cartitem.price }}</strong></p>
                              <div class="btn-group" role="group" aria-label="Basic example">
                                <button 
                                      type="button" 
                                      class="btn btn-secondary" 
                                      [disabled]="cartitem.qty === 1" 
                                      (click)="decrementItemQty(cartitem.id)">-</button>
                                <button type="button" class="btn bg-light"><strong>{{ cartitem.qty }}</strong></button>
                                <button 
                                      type="button" 
                                      class="btn btn-secondary"
                                      (click)="incrementItemQty(cartitem.id)">+</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card">
                  <h5 class="card-header">CART SUMMARY</h5>
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="p-1"><strong>Subtotal</strong></div>
                      <div class="p-1"><strong>N {{ getCartTotal() }}</strong></div>
                    </div>  
                  </div>
                  <div class="card-footer" *ngIf="getCartQty()">
                      <button type="button" class="btn btn-success btn-lg w-100 shawdo-sm" (click)="checkout()">
                          CHECKOUT
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Cart Section -->
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
